<template>
    <div class="card customer-list" v-if="billing">
        <table class="table datatable-basic table-bordered table-striped table-hover">
            <thead>
            <tr>
                <th>Fatura Numarası</th>
                <th>Fatura Tarihi</th>
                <th>Son Ödeme</th>
                <th>Fatura Tutarı</th>
                <th>Ödenmemiş Miktar</th>
                <th>Durum</th>
                <th>İşlem</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{ billing.acc_invoice_number }}</td>
                <td>{{ billing.acc_invoice_date | moment("DD-MM-YYYY") }}</td>
                <td>{{ billing.acc_invoice_due_date | moment("DD-MM-YYYY") }}</td>
                <td>
                    <moneyFormat :value="Number(billing.acc_invoice_amount)"></moneyFormat>
                </td>
                <td>
                    <span v-if="billing.acc_invoice_payment_status === '1'">0 TL</span>
                    <span v-else>
                        <moneyFormat :value="Number(billing.acc_invoice_amount)"></moneyFormat>
                    </span>
                </td>
                <td>
                    <span class="badge badge-danger" v-if="billing.acc_invoice_payment_status       === '0'">Ödenmemiş</span>
                    <span class="badge badge-success" v-else-if="billing.acc_invoice_payment_status === '1'">Ödenmiş</span>
                    <span class="badge badge-warning" v-else>Bekliyor</span>
                </td>
                <td class="text-center">
                    <div class="list-icons">
                        <div class="dropdown">
                            <a href="#" class="list-icons-item" data-toggle="dropdown">
                                <i class="icon-menu9"></i>
                            </a>

                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item"><i class="icon-file-pdf"></i> Export to
                                                                                       .pdf</a>
                                <a class="dropdown-item"><i class="icon-file-excel"></i> Export to .csv</a>
                                <a class="dropdown-item"><i class="icon-file-word"></i> Export to .doc</a>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="alert alert-danger" v-else>Müşterinin faturası bulunamadı.!</div>
</template>

<script>
    import MoneyFormat from "vue-money-format/src/components/MoneyFormat";
    export default {
        name: "CustomerBilling",
        components: {MoneyFormat},
        props: ['billing']
    }
</script>

<style scoped>

</style>