<template>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-10 offset-md-1">
                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label">Şirket / Şahıs Adı:</label>
                                <div class="col-lg-9">
                                    <input type="text" class="form-control" readonly="readonly"
                                           v-model="detailCustomer.membershipName"
                                           placeholder="Şirket / Şahıs Adı">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label">Şirket E-Posta:</label>
                                <div class="col-lg-9">
                                    <input type="text" class="form-control"
                                           v-model="detailCustomer.membershipEmail"
                                           placeholder="Şirket E-Posta">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label">Yetkili Kişi Ad Soyad:</label>
                                <div class="col-lg-9">
                                    <input type="text" class="form-control"
                                           v-model="detailCustomer.membershipFullname"
                                           placeholder="Yetkili Kişi Ad Soyad">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label">Vergi Dairesi:</label>
                                <div class="col-lg-9">
                                    <input type="text" class="form-control"
                                           v-model="detailCustomer.membershipAdminTax"
                                           placeholder="Vergi Dairesi">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label">Vergi Numarası:</label>
                                <div class="col-lg-9">
                                    <input type="text" class="form-control"
                                           v-model="detailCustomer.membershipNumberTax"
                                           placeholder="Vergi Numarası">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label">Adres:</label>
                                <div class="col-lg-9">
                                                <textarea cols="5" rows="5" class="form-control"
                                                          placeholder="Adres"
                                                          v-model="detailCustomer.membershipAdress"></textarea>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label">Üyelik Tipi:</label>
                                <div class="col-lg-9">
                                    <div class="input-group-prepend">
                                        <button type="button" class="btn btn-light dropdown-toggle"
                                                data-toggle="dropdown"
                                                v-text="package_text !== '' ? package_text : detailCustomer.membershipPackagesText">
                                        </button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item"
                                               v-for="selectedMembership in $store.state.customers.customerType"
                                               :key="selectedMembership.id"
                                               @click="detailCustomer.membershipPackagesVal = selectedMembership.pk_id;
                                               package_text = selectedMembership.subs_name">{{ selectedMembership.subs_name }}
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label">Üyelik Durumu:</label>
                                <div class="col-lg-9">
                                    <div class="input-group-prepend">
                                        <button type="button" class="btn btn-light dropdown-toggle"
                                                data-toggle="dropdown"
                                                v-text="detailCustomer.membershipStatusVal === '1' ? 'Aktif' : 'Pasif'">
                                            {{ detailCustomer.membershipStatusVal }}
                                        </button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item"
                                               v-for="selectedStatus in membershipStatus"
                                               :key="selectedStatus.id"
                                               @click="detailCustomer.membershipStatusVal = selectedStatus.val"
                                            >{{ selectedStatus.text }}</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label">Ödeme Tipi:</label>
                                <div class="col-lg-9">
                                    <div class="input-group-prepend">
                                        <button type="button" class="btn btn-light dropdown-toggle"
                                                v-text="detailCustomer.membershipPayloadType === '1' ? 'Havale, Kredi Kartı' : 'Nakit'"
                                                data-toggle="dropdown">
                                            {{ detailCustomer.membershipPayloadType }}
                                        </button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item"
                                               v-for="selectedPayload in membershipPayload"
                                               :key="selectedPayload.id"
                                               @click="detailCustomer.membershipPayloadType = selectedPayload.val"
                                            >{{ selectedPayload.text }}</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="text-right">
                                <button type="submit" class="btn btn-warning" @click="updateCustomer()">
                                    Güncelle<i
                                        class="icon-paperplane ml-2"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    /* eslint-disable no-console */
    export default {
        name: "UpdateCustomer",
        props: ['detailCustomer'],
        data: function () {
            return {
                package_text: '',
                membershipPackages: [],
                membershipStatus: [
                    {text: 'Aktif', val: '1'},
                    {text: 'Pasif', val: '0'}
                ],
                membershipPayload: [
                    {text: 'Havale, Kredi Kartı', val: '1'},
                    {text: 'Nakit', val: '2'}
                ],
            }
        },
        methods: {
            updateCustomer() {
                this.api_post('/content/customer-registration.php', {
                    sirket_ad: this.detailCustomer.membershipName,
                    sirket_mail: this.detailCustomer.membershipEmail,
                    ytk_adsoyad: this.detailCustomer.membershipFullname,
                    vergiDaire: this.detailCustomer.membershipAdminTax,
                    vergiNo: this.detailCustomer.membershipNumberTax,
                    adres: this.detailCustomer.membershipAdress,
                    uye_paketi: Number(this.detailCustomer.membershipPackagesVal),
                    odeme: Number(this.detailCustomer.membershipPayloadType),
                    status: Number(this.detailCustomer.membershipStatusVal),
                    user_id: this.$route.params.id,
                    button: 'guncelle'
                }, this.updateCustomerSuccess, this.updateCustomerError)
            },
            updateCustomerSuccess(response) {
                if (response.status) {
                    this.handleAlert('', 'Kullanıcı Güncellemesi Başarılı!', 'success');
                    this.$router.push({name: 'customers'});
                }
            },
            updateCustomerError(error) {
                console.log(error);
            }
        }
    }
</script>

<style scoped>

</style>