<template>
    <div class="content dashboard-content">
        <div class="row">
            <infoBox :number="$store.state.customers.totalCustomer" text="Toplam Müşteri Adedi"></infoBox>
            <infoBox :number="$store.state.customers.activeCustomers" text="Aktif Müşteri Adedi"></infoBox>
            <infoBox :number="$store.state.customers.passiveCustomers" text="Pasif Müşteri Adedi"></infoBox>
            <infoBox :number="$store.state.customers.demoCustomers" text="Demo Müşteri Adedi"></infoBox>
            <infoBox :number="$store.state.customers.paidCustomers" text="Ücretli Müşteri Adedi"></infoBox>
            <infoBox :number="$store.state.customers.totalCiro" text="Toplam Ciro(Aylık)" money="1"></infoBox>
            <infoBox :number="$store.state.customers.totalCiro * 12" text="Toplam Ciro(Yıllık)" money="1"></infoBox>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 col-sm-8">
                        <div class="card">
                            <LineChart color="#00968861"></LineChart>
                        </div>
                    </div>
                    <div class="col-12 col-sm-4">
                        <div class="card">
                            <PolarAreaChart :labels="polar_labels" color="#00968861"></PolarAreaChart>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    /* eslint-disable */
    import infoBox from "@/components/infoBox.vue"
    import PolarAreaChart from "@/components/chartComponents/PolarAreaChart.vue"
    import LineChart from "@/components/chartComponents/LineChart.vue"

    export default {
        name: "DashboardContent",
        components: {infoBox, PolarAreaChart, LineChart},
        data() {
            return {
                polar_labels: ['Toplam Müşteri Adedi', 'Aktif Müşteri Adedi', 'Pasif Müşteri Adedi', 'Demo Müşteri Adedi',
                    'Ücretli Müşteri Adedi'],
            }
        }
    }
</script>

<style scoped>
    .border-top-info {
        border-top-color: #00bcd4 !important;
    }

    .stats-header {
        margin-bottom: 0;
        border-bottom: 0;
    }

    .stats-header h1 {
        margin-bottom: 0;
    }
</style>