<template>
    <table class="table datatable-basic table-striped table-hover">
        <thead>
        <tr class="row">
            <td class="col-1"></td>

            <th class="col-2">
                <input type="text" class="form-group ellipsis"
                       @click="getCutomerType()" v-model="billsFilterElem.customer_type" placeholder="Üyelik tipi"
                       data-toggle="dropdown">
                <span class="input-icon" data-toggle="dropdown"><i class="icon-arrow-down5"></i></span>
                <div class="dropdown-menu">
                    <a class="dropdown-item" @click="billsFilterElem.customer_type = ''">Tümü</a>
                    <a class="dropdown-item" v-for="customerType in $store.state.customers.customerType"
                       :key="customerType.id"
                       @click="billsFilterElem.customer_type = customerType.subs_name">{{ customerType.subs_name }}</a>
                </div>
            </th>


            <th class="col-2">
                <input type="text" class="form-group ellipsis" placeholder="Fatura durumu"
                       data-toggle="dropdown"
                       :value="billsFilterElem.bill_status === 0 ? 'Ödenmedi' : billsFilterElem.bill_status === 1 ?
                       'Ödendi' : billsFilterElem.bill_status === 2 ? 'Bekliyor' : ''">
                <span class="input-icon" data-toggle="dropdown"><i class="icon-arrow-down5"></i></span>
                <div class="dropdown-menu">
                    <a class="dropdown-item" @click="billsFilterElem.bill_status = ''">Tümü</a>
                    <a class="dropdown-item" v-for="status in billStatus" :key="status.id"
                       @click="billsFilterElem.bill_status = status.id"
                    >{{ status.value }}</a>
                </div>
            </th>
            <th class="col-2">
                <Datepicker input-class="date-input"
                            class="form-group"
                            placeholder="Oluşturulma tarihi"
                            v-model="billsFilterElem.start_date"
                ></Datepicker>
                <span class="input-icon" data-toggle="dropdown"><i class="icon-calendar"></i></span>
            </th>
            <th class="col-2">
                <Datepicker input-class="date-input" class="form-group"
                            placeholder="Son ödeme tarihi"
                            v-model="billsFilterElem.end_date"
                ></Datepicker>
                <span class="input-icon"><i class="icon-calendar"></i></span>
            </th>

            <th class="float-right col-2">
                <button class="btn btn-success mr-1" @click="filterBills"><i
                        class="icon-filter3"></i>
                    Filtrele
                </button>
                <button class="btn btn-danger" @click="filterBillsClear"><i class="icon-close2"></i>
                    Temizle
                </button>
            </th>
            <td class="col-1"></td>
        </tr>
        </thead>
    </table>
</template>

<script>
    /* eslint-disable */
    import Datepicker from 'vuejs-datepicker';

    export default {
        name: "BillsFilter",
        components: {Datepicker},
        data() {
            return {
                billStatus: [
                    {
                        id: 0,
                        value: 'Ödenmedi'
                    },
                    {
                        id: 1,
                        value: 'Ödendi'
                    },
                    {
                        id: 2,
                        value: 'Bekliyor'
                    }
                ],
                billsFilterElem: {
                    customer_type: '',
                    bill_status: '',
                    start_date: '',
                    end_date: '',
                }
            }
        },
        methods: {
            filterBills() {
                this.api_post('/content/invoice.php', {
                    bill_type: this.billsFilterElem.customer_type,
                    bill_status: this.billsFilterElem.bill_status,
                    bill_start_date: this.billsFilterElem.start_date !== '' ?
                        this.$moment(this.billsFilterElem.start_date, 'YYYY-MM-DD', true).format().slice(0, 10) : '',
                    bill_end_date: this.billsFilterElem.end_date !== '' ?
                        this.$moment(this.billsFilterElem.end_date, 'YYYY-MM-DD', true).format().slice(0, 10) : ''
                }, this.filterBillsSuccess, this.filterBillsError)
            },
            filterBillsSuccess(response) {
                this.$bus.$emit('filterBillsElements', JSON.stringify(response.data));
                this.$parent.billsAll();
            },
            filterBillsError(error) {
                console.log(error)
            },
            filterBillsClear() {
                const dataList = [];
                this.billsFilterElem.customer_type = '';
                this.billsFilterElem.bill_status = '';
                this.billsFilterElem.start_date = '';
                this.billsFilterElem.end_date = '';
                this.$bus.$emit('filterBillsElements', JSON.stringify(dataList));
            },
            getCutomerType() {
                if (this.$store.state.customers.customerType.length <= 0) {
                    this.api_get('/content/customer-type.php', this.getCustomerTypeSuccess, this.getCustomerTypeError)
                }
            },
            getCustomerTypeSuccess(response) {
                this.$store.state.customers.customerType = response.data.data;
            },
            getCustomerTypeError(error) {
                console.log(error)
            }
        }
    }
</script>

<style scoped>

    .table thead th {
        padding: 0;
        border-bottom: 0;
        position: relative;
    }

    .table thead th:focus > span {
        height: 1px;
    }

    .form-group {
        margin-bottom: 0;
        border-left: 0;
        border-right: 0;
        border-top: 0;
        background: transparent;
        border-bottom: .05rem solid #000;
        position: relative;
        width: 90%;
        display: flex;
        margin: 0 auto;
    }

    .form-group:focus {
        outline: none;
    }

    th span {
        position: absolute;
        width: 90%;
        display: flex;
        margin: 0 auto;
        background: #0aa7ef;
        transition: 300ms ease-out;
        bottom: 0;

    }

    input.date-input {
        width: 100% !important;
        background: transparent !important;
        border: none !important;
    }

    .vdp-datepicker * {
        width: 100% !important;
    }

    span.input-icon {
        background: transparent;
        position: absolute;
        right: 15px;
        width: auto;
        cursor: pointer;
        top: 2px;
    }

    .btn {
        font-size: .6rem;
    }

    .form-group.ellipsis {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-right: 30px;
    }
</style>