<template>
    <div>
        <div class="card customer-list">
            <table class="table datatable-basic table-bordered table-striped table-hover">
                <!--thead-->
                <Thead
                        :headList="['Fatura Numarası', 'Fatura Sahibi', 'Üyelik Tipi', 'Taksit', 'Oluşturulma Tarihi',
                        'Son Ödeme Tarihi', 'Fatura Tutarı', 'Fatura Durumu']">
                </Thead>
                <!--tbody-->
                <tbody>
                <tr class="customer-row"
                    v-for="(bill, index) in filterBills.length >= 1 ? filterBills.slice(sliceStart, sliceCount) : bills"
                    :key="index">
                    <td>{{ bill.acc_invoice_number }}</td>
                    <td>{{ bill.comp_title }}</td>
                    <td>
            <span class="badge"
                  :class="bill.comp_subscription_type === 'Demo'   ? 'badge-warning' :
                          bill.comp_subscription_type === 'Medium' ? 'badge-danger'  :
                          bill.comp_subscription_type === 'Pro'    ? 'badge-success' :
                          'badge-primary'">{{ bill.comp_subscription_type }}</span>
                    </td>
                    <td>1. Taksit</td>
                    <td>{{ bill.acc_invoice_date | moment('DD-MM-YYYY') }}</td>
                    <td>{{ bill.acc_invoice_due_date | moment('DD-MM-YYYY') }}</td>
                    <td>
                        <moneyFormat :value="Number(bill.acc_invoice_amount)"></moneyFormat>
                    </td>
                    <td>
                        <span v-if="bill.acc_invoice_payment_status      === '1'"
                              class="badge badge-success">Ödendi</span>
                        <span v-else-if="bill.acc_invoice_payment_status === '0'"
                              class="badge badge-danger">Ödenmedi</span>
                        <span v-else class="badge badge-warning">Bekliyor</span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <Pagination v-if="filterBills.length <= 1" :page="$parent.$data.billsPerPage"
                    :total="$store.state.customers.totalBills"
                    :listCount="$parent.$data.billsListCount"></Pagination>
        <FilterPagination v-else :customerCount="filterBills.length" :listCount="sliceCount" :sliceStart="sliceStart"
                          :length="$parent.$data.billsListCount"></FilterPagination>
    </div>
</template>

<script>
    import MoneyFormat from "vue-money-format/src/components/MoneyFormat";
    import Pagination from "@/components/Pagination.vue";
    import FilterPagination from "@/components/FilterPagination.vue";
    import Thead from "@/components/tableComponents/Thead.vue";

    export default {
        name: "BillsList",
        components: {MoneyFormat, Pagination, FilterPagination, Thead},
        props: ['bills'],
        data() {
            return {
                filterBills: [],
                sliceStart: 0,
                sliceCount: 10,
            }
        },
        mounted() {
            var th = this;
            th.$bus.$on('filterBillsElements', function (payload) {
                th.filterBills = JSON.parse(payload);
            });
            th.$bus.$on('searchBillsElements', function (payload) {
                th.filterBills = [];
                th.filterBills.push(JSON.parse(payload));
            });
            th.$forceUpdate();
        }
    }
</script>

<style scoped>
    .customer-row {
        cursor: pointer;
    }

    .table {
        margin-bottom: 0;
    }

    .table tr:hover {
        box-shadow: 0px 3px 4px #d2d2d2;
    }

</style>