<template>
    <div class="page-content">
        <div class="content-wrapper">
            <div class="content d-flex justify-content-center align-items-center">
                <div class="flex-fill">
                    <div class="text-center mb-3">
                        <h1 class="error-title">404</h1>
                        <h5>Hata! Bir hata oluştu. Sayfa bulunamadı!</h5>
                    </div>
                    <div class="row">
                        <div class="col-xl-4 offset-xl-4 col-md-8 offset-md-2">
                            <div class="row">
                                <div class="col-sm-12">
                                    <a href="#" class="btn btn-primary btn-block" @click="$router.push({name: 'home'})">
                                        <i class="icon-home4 mr-2"></i>
                                        Dashboard
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "404"
    }
</script>

<style scoped>

</style>