<template>
    <div>
        <Breadcrumb></Breadcrumb>
        <div class="content">
            <div class="row">
                <infoBox :number="paid_invoices + out_invoices + wait_invoices" text="Toplam Fatura"></infoBox>
                <infoBox :number="paid_invoices" text="Ödenmiş Faturalar"></infoBox>
                <infoBox :number="out_invoices" text="Ödenmemiş Faturalar"></infoBox>
                <infoBox :number="wait_invoices" text="Bekleyen Faturalar"></infoBox>
            </div>
            <!--filter-->
            <BillsFilter></BillsFilter>
            <CustomerHeader exportName="fatura_listesi" headerName="Faturalar"></CustomerHeader>
            <!--listFilter-->
            <ListFilter></ListFilter>
            <!--bills list-->
            <BillsList :bills="bills"></BillsList>
        </div>
    </div>
</template>

<script>
    /* eslint-disable */
    import Breadcrumb from "@/components/Breadcrumb.vue"
    import infoBox from "@/components/infoBox.vue"
    import CustomerHeader from "@/components/customersComponents/CustomerHeader.vue"
    import BillsList from "@/components/billsComponents/BillsList.vue"
    import BillsFilter from "@/components/billsComponents/BillsFilter.vue"
    import ListFilter from "@/components/ListFilter.vue";

    export default {
        name: "Bills",
        components: {ListFilter, Breadcrumb, infoBox, CustomerHeader, BillsList, BillsFilter},
        data: function () {
            return {
                bills: [],
                billsListCount: 10,
                billsPerPage: 1,
                paid_invoices: 0,
                out_invoices: 0,
                wait_invoices: 0
            }
        },
        mounted() {
            this.billsAll();
            var th = this;
            th.$bus.$on('page', function (payload) {
               th.billsPerPage = JSON.parse(payload) ;
            });
        },
        methods: {
            billsAll() {
                this.api_get('/content/invoice.php/lenght=' + this.billsListCount + '&page=' + this.billsPerPage, this.billsAllSuccess, this.billsAllError)
            },
            billsAllSuccess(response) {
                this.bills = response.data.data;
                this.$store.state.customers.totalBills = response.data.toplam;
                this.out_invoices = Number(response.data.durum[0].adet);
                this.paid_invoices = Number(response.data.durum[1].adet);
                this.wait_invoices = Number(response.data.durum[2].adet);
            },
            billsAllError(error) {
                console.log(error)
            }
        }
    }
</script>

<style scoped>

    .search-customer {
        transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
        border-left: 0;
        border-right: 0;
        border-top: 0;
        border-bottom: 1px solid #333;
        background: transparent;
    }

    .search-customer:focus {
        box-shadow: 0px 9px 10px 0px #ccc
    }

    .dropdown-menu {
        width: 100%;
    }

    button.dropdown-toggle {
        min-width: 85px;
        border: 1px solid #ccc;
        border-radius: 0;
    }
</style>