<template>
    <div>
        <Breadcrumb></Breadcrumb>
        <div class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-md-10 offset-md-1">
                                    <div class="header-elements-inline">
                                        <h5 class="card-title">Yeni Müşteri</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-10 offset-md-1 mt-2">
                                    <div v-if="errorMessage" class="alert alert-warning">{{ errorMessage }}</div>
                                </div>
                            </div>
                        </div>

                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-10 offset-md-1">
                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label">Şirket / Şahıs Adı:</label>
                                        <div class="col-lg-9">
                                            <input type="text" class="form-control"
                                                   :class="addCustomer.companyName == null ? 'error' : ''"
                                                   placeholder="Şirket / Şahıs Adı" v-model="addCustomer.companyName">
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label">Şirket E-Posta:</label>
                                        <div class="col-lg-9">
                                            <input type="text" class="form-control"
                                                   :class="addCustomer.companyEmail == null ? 'error' : ''"
                                                   placeholder="Şirket E-Posta" v-model="addCustomer.companyEmail">
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label">Yetkili Kişi Ad Soyad:</label>
                                        <div class="col-lg-9">
                                            <input type="text" class="form-control"
                                                   placeholder="Yetkili Kişi Ad Soyad" v-model="addCustomer.fullName">
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label">Vergi Dairesi:</label>
                                        <div class="col-lg-9">
                                            <input type="text" class="form-control"
                                                   placeholder="Vergi Dairesi" v-model="addCustomer.adminTax">
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label">Vergi Numarası:</label>
                                        <div class="col-lg-9">
                                            <input type="number" class="form-control"
                                                   :class="addCustomer.numberTax == null ? 'error' : ''"
                                                   placeholder="Vergi Numarası" v-model="addCustomer.numberTax">
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label">Adres:</label>
                                        <div class="col-lg-9">
                                            <textarea rows="5" cols="5" class="form-control"
                                                      placeholder="Adres.." v-model="addCustomer.adress"></textarea>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label">Üyelik Paketi:</label>
                                        <div class="col-lg-9">
                                            <div class="input-group-prepend">
                                                <button type="button" class="btn btn-light dropdown-toggle"
                                                        data-toggle="dropdown" v-text="membershipPackagesText !== '' ?
                                                        membershipPackagesText : 'Paket Seçimi'">
                                                </button>
                                                <div class="dropdown-menu">
                                                    <a class="dropdown-item"
                                                       v-for="selectedMembership in $store.state.customers.customerType"
                                                       :key="selectedMembership.id"
                                                       @click="addCustomer.membershipPackagesVal = selectedMembership.pk_id;
                                                       membershipPackagesText = selectedMembership.subs_name">
                                                        {{ selectedMembership.subs_name }}
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label">Ödeme Tipi:</label>
                                        <div class="col-lg-9">
                                            <div class="input-group-prepend">
                                                <button type="button" class="btn btn-light dropdown-toggle"
                                                        data-toggle="dropdown"
                                                        v-text="addCustomer.paymentTypeVal === '1' ?
                                                        'Havalae, Kredi Kartı' : 'Nakit'"
                                                >
                                                </button>
                                                <div class="dropdown-menu">
                                                    <a class="dropdown-item" v-for="selectedPayment in paymentType"
                                                       :key="selectedPayment.id"
                                                       @click="addCustomer.paymentTypeVal = selectedPayment.val">
                                                        {{ selectedPayment.text }}</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="text-right">
                                        <button @click="createCustomer()" type="submit" class="btn btn-primary">
                                            Müşteri Oluştur<i
                                                class="icon-paperplane ml-2"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    /* eslint-disable no-console */

    import Breadcrumb from "@/components/Breadcrumb.vue"
    import JQuery from 'jquery';

    let $ = JQuery;

    export default {
        name: "CreateCustomer",
        components: {Breadcrumb},
        data: function () {
            return {
                membershipPackagesText: '',
                membershipPackages: [],
                paymentType: [
                    {text: 'Havale, Kredi Kartı', val: '1'},
                    {text: 'Nakit', val: '2'},
                ],
                addCustomer: {
                    companyName: '',
                    companyEmail: '',
                    fullName: '',
                    adminTax: '',
                    numberTax: '',
                    adress: '',
                    membershipPackagesVal: '5',
                    paymentTypeVal: '1',
                },
                errorMessage: null,
            }
        },
        mounted() {
            this.customerType_all();
        },
        methods: {
            customerType_all() {
                this.api_get('/content/customer-type.php', this.customerTypeSuccess, this.customerTypeError);
            },

            customerTypeSuccess(response) {
                this.$store.state.customers.customerType = response.data.data;
            },

            customerTypeError(error) {
                console.log(error)
            },

            createCustomer() {
                var emailRegex = new RegExp("[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)" +
                    "*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?");
                if (this.addCustomer.companyName === '' || this.addCustomer.companyEmail === '' ||
                    this.addCustomer.fullName === '' || this.addCustomer.adminTax === '' ||
                    this.addCustomer.numberTax === '' || this.addCustomer.adress === '') {
                    this.errorMessage = 'Lütfen Boş Alan Bırakmayınız!'
                }
                else if (this.addCustomer.numberTax.length < 11) {
                    this.addCustomer.numberTax = null;
                    this.errorMessage = 'Geçersiz Vergi Numarası Girdiniz Lütfen Tekrar Deneyiniz!'
                }
                else if (this.addCustomer.companyName === null || this.addCustomer.companyEmail === null ||
                    this.addCustomer.fullName === null || this.addCustomer.adminTax === null ||
                    this.addCustomer.numberTax === null || this.addCustomer.adress === null) {
                    this.errorMessage = 'Lütfen Boş Alan Bırakmayınız!'
                }
                else if (!this.addCustomer.companyEmail.match(emailRegex)) {
                    this.addCustomer.companyEmail = null;
                    this.errorMessage = 'Email Adresi Geçersiz!'
                }
                else {
                    this.api_post('/content/customer-registration.php', {
                        sirket_ad: this.addCustomer.companyName,
                        sirket_mail: this.addCustomer.companyEmail,
                        ytk_adsoyad: this.addCustomer.fullName,
                        vergiDaire: this.addCustomer.adminTax,
                        vergiNo: this.addCustomer.numberTax,
                        adres: this.addCustomer.adress,
                        uye_paketi: Number(this.addCustomer.membershipPackagesVal),
                        odeme: Number(this.addCustomer.paymentTypeVal),
                        button: 'kaydet'
                    }, this.postSuccess, this.postError)
                }
            },
            postSuccess(response) {
                if (response.status) {
                    this.handleAlert('', 'Kullanıcı Kaydı Başarılı!', 'success');
                    this.$router.push({name: 'customers'});
                }
                else {
                    if (response.message === 'Record available!') {
                        this.errorMessage = 'Bu Kullanıcı Adı Daha Önce Alınmış!';
                        this.addCustomer.companyName = null;
                    }
                    else if (response.message === 'Failed registration!') {
                        this.errorMessage = 'Kayıt Başarısız Lütfen Tekrar Deneyiniz.'
                    }
                    $('html, body').animate({
                        scrollTop: 0
                    }, 500);
                    return false;
                }
            },
            postError(error) {
                this.errorMessage = 'Kayıt Başarısız Lütfen Tekrar Deneyiniz.';
                console.log(error)
            }
        }
    }
</script>

<style scoped>
    .form-group {
        margin-bottom: 0.44rem;
    }

    .form-control.error {
        border-color: red !important;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    }

    .form-control.error:focus {
        box-shadow: none;
    }

    .alert {
        padding: .3rem 1.25rem !important;
    }

</style>