<template>
    <div>
        <Breadcrumb></Breadcrumb>
        <div class="content">
            <div class="row">
                <infoBox :number="$store.state.customers.totalCustomer" text="Toplam Müşteri Adedi"></infoBox>
                <infoBox :number="$store.state.customers.activeCustomers" text="Aktif Müşteri Adedi"></infoBox>
                <infoBox :number="$store.state.customers.passiveCustomers" text="Pasif Müşteri Adedi"></infoBox>
            </div>
            <!--customer-filter-->
            <CustomerFilter></CustomerFilter>
            <!--customer-header-->
            <CustomerHeader exportName="musteri_listesi" headerName="Müşteriler"></CustomerHeader>
            <!--list-filter-->
            <ListFilter></ListFilter>
            <!--customer-list-->
            <CustomerList></CustomerList>
        </div>
    </div>
</template>

<script>
    /* eslint-disable */

    import Breadcrumb from "@/components/Breadcrumb.vue"
    import CustomerFilter from "@/components/customersComponents/CustomerFilter.vue"
    import CustomerHeader from "@/components/customersComponents/CustomerHeader.vue"
    import CustomerList from "@/components/customersComponents/CustomerList.vue"
    import ListFilter from "@/components/ListFilter.vue"
    import infoBox from "@/components/infoBox.vue"

    export default {
        name: "Customers",
        components: {Breadcrumb, CustomerFilter, CustomerHeader, CustomerList, infoBox, ListFilter},
        data: function () {
            return {
                listCountVal: 10,
                perPage: 1,
            }
        },
        mounted() {
            this.customers_all();
            this.getDashboardInfo();
            var th = this;
            th.$bus.$on('page', function (payload) {
                th.perPage = JSON.parse(payload);
            });
        },
        methods: {
            customers_all() {
                this.api_get('/content/customers.php/lenght=' + this.listCountVal + '&page=' + this.perPage, this.customersSuccess, this.customersError)
            },
            customersSuccess(response) {
                this.$store.state.customers.customerList = response.data.data;
            },
            customersError(error) {
                console.log(error)
            },

            getDashboardInfo() {
                if (this.$store.state.customers.totalCustomer === 0) {
                    this.api_get('/content/dashboard.php', this.customerInfoSuccess, this.customerInfoError);
                }
            },

            customerInfoSuccess(response) {
                var th = this;
                const a = [];
                const b = [];
                response.data.data.forEach(function (data) {
                    th.$store.state.customers.statsCustomerDayDate = [];
                    th.$store.state.customers.statsCustomerDayCount = [];
                    th.$store.state.customers.totalCustomer = Number(data.atfMusteri) + Number(data.psfMusteri);
                    th.$store.state.customers.activeCustomers = Number(data.atfMusteri);
                    th.$store.state.customers.passiveCustomers = Number(data.psfMusteri);
                    th.$store.state.customers.demoCustomers = Number(data.demotpl);
                    th.$store.state.customers.paidCustomers = Number(data.diger);
                    th.$store.state.customers.totalCiro = Number(data.toplam);
                    data.stats_customer_day.forEach(function (stats_data) {
                        a.push(stats_data.tarih);
                        b.push(Number(stats_data.kayit))
                    });
                });
                th.$store.state.customers.statsCustomerDayDate = a;
                th.$store.state.customers.statsCustomerDayCount = b;
            },

            customerInfoError(error) {
                console.log(error)
            },

            filterElement(item) {
                this.customerName = item;
                const dataList = [];
                this.$store.state.customers.customerList.forEach(function (customer) {
                    if (customer.comp_title === item) {
                        dataList.push(customer)
                    }
                });
                this.$bus.$emit('filterCustomerElements', JSON.stringify(dataList));
                this.filterBox = false;
                this.customerName = ''
            },
        }
    }
</script>

<style scoped>

    .search-customer {
        transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
        border-left: 0;
        border-right: 0;
        border-top: 0;
        border-bottom: 1px solid #333;
        background: transparent;
    }

    .search-customer:focus {
        box-shadow: 0px 9px 10px 0px #ccc
    }

    .dropdown-menu {
        width: 100%;
    }

    button.dropdown-toggle {
        min-width: 85px;
        border: 1px solid #ccc;
        border-radius: 0;
    }

</style>