<template>
    <div>
        <Breadcrumb></Breadcrumb>
        <div class="content customer-detail">
            <CustomerHeader headerName="Müşteri Bilgileri" falseExport="1"></CustomerHeader>
            <div class="row">
                <infoBox :number="detailCustomer.membershipPackagesText" text="Paket Bilgisi"></infoBox>
            </div>
            <!--updateCustomer-->
            <UpdateCustomer :detailCustomer="detailCustomer"></UpdateCustomer>
            <CustomerHeader headerName="Fatura Bilgileri" falseExport="1"></CustomerHeader>
            <!--customerBilling-->
            <CustomerBilling :billing="customerBills"></CustomerBilling>
        </div>
    </div>
</template>

<script>
    /* eslint-disable no-console */

    import Breadcrumb from "@/components/Breadcrumb.vue"
    import CustomerHeader from "@/components/customersComponents/CustomerHeader.vue"
    import infoBox from "@/components/infoBox.vue"
    import UpdateCustomer from "@/components/customerDetailComponents/UpdateCustomer.vue"
    import CustomerBilling from "@/components/customerDetailComponents/CustomerBilling.vue"

    export default {
        name: "CustomerDetail",
        components: {Breadcrumb, CustomerHeader, infoBox, UpdateCustomer, CustomerBilling},
        data: function () {
            return {
                detailCustomer: {},
                customerBills: {}
            }
        },
        mounted() {
            this.customerDetailAll();
        },
        methods: {
            customerDetailAll() {
                this.api_get('/content/customer-detail.php/' + this.$route.params.id, this.customerDetailSuccess, this.customerDetailError)
            },
            customerDetailSuccess(response) {
                const a = {};
                const bills = [];
                response.data.data.forEach(function (data) {
                    a.membershipName = data.comp_title;
                    a.membershipEmail = data.comp_email;
                    a.membershipFullname = data.comp_name;
                    a.membershipAdminTax = data.comp_tax_officename;
                    a.membershipNumberTax = data.comp_tax_number;
                    a.membershipAdress = data.comp_address;
                    a.membershipPayloadType = data.fk_payment_id;
                    a.membershipStatusVal = data.comp_status;
                    a.membershipPackagesText = data.comp_subscription_type;
                    a.membershipPackagesVal = data.fk_subscription_id;
                    bills.fatura = data.fatura;
                });
                this.detailCustomer = a;
                this.customerBills = bills['fatura'];
            },
            customerDetailError(error) {
                console.log(error)
            },
        }
    }
</script>

<style scoped>
    .border-top-info {
        border-top-color: #00bcd4 !important;
    }

    .customer-detail .col-lg-3 {
        margin: 0 auto;
    }

    .form-group {
        margin-bottom: 0.44rem;
    }
</style>