<template>
    <div class="home">
        <Breadcrumb></Breadcrumb>
        <DashboardContent></DashboardContent>
    </div>
</template>

<script>
    /* eslint-disable no-console */

    // @ is an alias to /src
    import Breadcrumb from "@/components/Breadcrumb.vue"
    import DashboardContent from "@/components/dashboardComponents/DashboardContent.vue"

    export default {
        name: 'home',
        components: {Breadcrumb, DashboardContent},
        mounted() {
            //this.$store.state.user.username ? this.$router.push({name: 'home'}) : this.$router.push({name: 'login'});
            this.customerInfo_all();
            this.customerType_all();
        },
        methods: {
            customerInfo_all() {
                this.api_get('/content/dashboard.php', this.customerInfoSuccess, this.customerInfoError);
            },
            customerInfoSuccess(response) {
                var th = this;
                const a = [];
                const b = [];
                response.data.data.forEach(function (data) {
                    th.$store.state.customers.statsCustomerDayDate = [];
                    th.$store.state.customers.statsCustomerDayCount = [];
                    th.$store.state.customers.totalCustomer = Number(data.atfMusteri) + Number(data.psfMusteri);
                    th.$store.state.customers.activeCustomers = Number(data.atfMusteri);
                    th.$store.state.customers.passiveCustomers = Number(data.psfMusteri);
                    th.$store.state.customers.demoCustomers = Number(data.demotpl);
                    th.$store.state.customers.paidCustomers = Number(data.diger);
                    th.$store.state.customers.totalCiro = Number(data.toplam);
                    data.stats_customer_day.forEach(function (stats_data) {
                        a.push(stats_data.tarih);
                        b.push(Number(stats_data.kayit))
                    });
                });
                th.$store.state.customers.statsCustomerDayDate = a;
                th.$store.state.customers.statsCustomerDayCount = b;
            },
            customerInfoError(error) {
                console.log(error)
            },
            customerType_all() {
                this.api_get('/content/customer-type.php', this.customerTypeSuccess, this.customerTypeError);
            },

            customerTypeSuccess(response) {
                this.$store.state.customers.customerType = response.data.data;
            },

            customerTypeError(error) {
                console.log(error)
            },
        }
    }
</script>
