<template>
    <div class="content d-flex justify-content-center align-items-center">
        <!-- Login card -->
        <form v-on:submit.prevent="loginUser()">
            <div class="login-form">
                <div class="card mb-0">
                    <div class="card-body">
                        <div class="text-center mb-3">
                            <i class="icon-reading icon-2x text-slate-300 border-slate-300 border-3 rounded-round p-3 mb-3 mt-1"></i>
                            <h5 class="mb-0">Login to your account</h5>
                            <span class="d-block text-muted">Your credentials</span>
                            <div class="alert alert-danger" v-if="errorMessage">{{ errorMessage }}</div>
                        </div>

                        <div class="form-group form-group-feedback form-group-feedback-left">
                            <input type="text" class="form-control"
                                   :class="inputUsernameError && Username === '' ? 'error' : ''" placeholder="Username"
                                   v-model="Username">
                            <div class="form-control-feedback">
                                <i class="icon-user text-muted"></i>
                            </div>
                        </div>

                        <div class="form-group form-group-feedback form-group-feedback-left">
                            <input type="password" class="form-control"
                                   :class="inputPasswordError && Password === '' ? 'error' : ''" placeholder="Password"
                                   v-model="Password">
                            <div class="form-control-feedback">
                                <i class="icon-lock2 text-muted"></i>
                            </div>
                        </div>

                        <div class="form-group d-flex align-items-center">
                            <div class="form-check mb-0">
                                <label class="form-check-label">
                                    <input type="checkbox" name="remember" class="form-input-styled">
                                    Remember
                                </label>
                            </div>

                            <a class="ml-auto">Forgot password?</a>
                        </div>

                        <div class="form-group submit-btn">
                            <input class="btn btn-block"
                                   :class="$store.state.user.err_log >= 3 ? 'btn-danger' : 'btn-primary'"
                                   type="submit"
                                   :value="$store.state.user.err_log >= 3 ? $store.state.user.err_min + ':' + $store.state.user.err_second : 'Sign in'">
                            <span class="submit-icon">
                                <i class="icon-spinner2 spinner" v-if="loading"></i>
                                <i class="icon-circle-right2 ml-2" v-else></i>
                            </span>
                        </div>

                        <div class="form-group text-center text-muted content-divider">
                            <span class="px-2">or sign in with</span>
                        </div>

                        <div class="form-group text-center">
                            <button type="button"
                                    class="btn btn-outline bg-indigo border-indigo text-indigo btn-icon rounded-round border-2">
                                <i class="icon-facebook"></i></button>
                            <button type="button"
                                    class="btn btn-outline bg-pink-300 border-pink-300 text-pink-300 btn-icon rounded-round border-2 ml-2">
                                <i class="icon-dribbble3"></i></button>
                            <button type="button"
                                    class="btn btn-outline bg-slate-600 border-slate-600 text-slate-600 btn-icon rounded-round border-2 ml-2">
                                <i class="icon-github"></i></button>
                            <button type="button"
                                    class="btn btn-outline bg-info border-info text-info btn-icon rounded-round border-2 ml-2">
                                <i class="icon-twitter"></i></button>
                        </div>

                        <div class="form-group text-center text-muted content-divider">
                            <span class="px-2">Don't have an account?</span>
                        </div>

                        <div class="form-group">
                            <a href="#" class="btn btn-light btn-block">Sign up</a>
                        </div>

                        <span class="form-text text-center text-muted">By continuing, you're confirming that you've read our <a
                                href="#">Terms &amp; Conditions</a> and <a href="#">Cookie Policy</a></span>
                    </div>
                </div>
            </div>
        </form>
        <!-- /login card -->

    </div>
</template>

<script>
    /* eslint-disable no-console */
    export default {
        name: "Login",
        data: function () {
            return {
                Username: '',
                Password: '',
                loading: false,
                inputUsernameError: false,
                inputPasswordError: false,
                errorMessage: null,
                err_count: 0,
                err_second: 0,
                err_min: 0,
            }
        },
        mounted() {
            this.$store.state.user.username ? this.$router.push({name: 'home'}) : this.$router.push({name: 'login'})
        },
        methods: {
            loginUser() {
                this.api_post('/login', {
                    username: this.Username,
                    password: this.Password
                }, this.postSuccess, this.postError);
                this.loading = true;
                if (!this.$store.state.user.err_log < 3) {
                    console.log('a');
                }
            },
            postSuccess(response) {
                this.loading = false;
                if (response.status) {
                    this.$store.commit('login', response);
                    this.$store.state.user.err_log = 0;
                    this.$router.push({name: 'home'});
                }
                else {
                    if (this.$store.state.user.err_log >= 2 || this.$store.state.user.err_log === 3) {
                        this.loading = true;
                        this.$store.state.user.err_count = 300000;
                        var th = this;
                        setTimeout(function () {
                            th.$store.state.user.err_log = 0;
                            th.loading = false;
                        }, th.$store.state.user.err_count);
                        th.$store.commit('countdown')
                    }


                    this.$store.state.user.err_log += 1;
                    if (response.message === 'Error password') {
                        this.inputPasswordError = true;
                        this.Password = '';
                        this.errorMessage = 'Şifre Hatalı!'
                    }
                    else if (response.message === 'Error username') {
                        this.inputUsernameError = true;
                        this.Username = '';
                        this.errorMessage = 'Kullanıcı Adı Hatalı!'
                    }
                }
            },
            postError(error) {
                this.handleAlert('Giriş Başarısız', 'Kullanıcı Adı veya Şifre Hatalı', 'error');
                console.log(error);
                this.loading = false
            }
        }
    }
</script>

<style scoped>

    .submit-btn {
        position: relative;
    }

    .submit-icon {
        position: absolute;
        right: 35%;
        top: 25%;
        color: #fff;
    }

    .form-control.error {
        border-color: red !important;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    }

    .form-control.error:focus {
        box-shadow: none;
    }

    .form-error {
        background: #ec5454;
        border-radius: 5px;
        border: 1px solid #ff8c8c;
        font-size: 15px;
        color: #e3e3ea;
    }

    .alert {
        padding: .3rem 1.25rem !important;
    }

</style>