<template>
    <div>
        <Breadcrumb></Breadcrumb>
        <div class="content">
            <CustomerHeader headerName="Üyelik Modeli Oluştur" falseExport="1"></CustomerHeader>
            <div class="row">
                <div class="col-md-12">
                    <!--form -->
                    <CreateMemberPackage></CreateMemberPackage>
                </div>
            </div>
            <CustomerHeader exportName="uyelik_paketleri" headerName="Üyelik Paketleri"></CustomerHeader>
            <div class="card customer-list">
                <!--member package list-->
                <MemberPackageList></MemberPackageList>
            </div>
        </div>
    </div>
</template>

<script>
    import Breadcrumb from '@/components/Breadcrumb.vue'
    import CustomerHeader from "@/components/customersComponents/CustomerHeader.vue"
    import CreateMemberPackage from "@/components/memberPackageComponents/CreateMemberPackage.vue"
    import MemberPackageList from "@/components/memberPackageComponents/MemberPackageList.vue"

    export default {
        name: "MemberPackage",
        components: {Breadcrumb, CustomerHeader, CreateMemberPackage, MemberPackageList}
    }
</script>

<style scoped>
    .form-group {
        margin-bottom: 0.44rem;
    }

</style>