<template>
    <div>
        <Breadcrumb></Breadcrumb>
        <div class="content">
            <CustomerHeader headerName="Paket Bilgileri"></CustomerHeader>
            <div class="card">
                <div class="row">
                    <div class="col-md-10 offset-md-1 mt-2">
                        <div v-if="errorMessage" class="alert alert-warning">{{ errorMessage }}</div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-10 offset-md-1">
                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label">Üyelik Paketi Adı:</label>
                                <div class="col-lg-9">
                                    <input type="text" class="form-control" placeholder="Üyelik Paketi Adı"
                                           v-model="packageName"
                                           :class="errorMessage !== null ? 'error' : ''">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label">Üyelik Süresi:</label>
                                <div class="col-lg-4 position-relative">
                                    <input type="text" class="form-group select-input"
                                           placeholder="örn: 1" data-toggle="dropdown" v-model="packageVal">
                                    <span class="input-icon"><i class="icon-arrow-down5"></i></span>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item"
                                           v-for="n in 30"
                                           :key="n.id"
                                           @click="packageVal = n"
                                        >{{n}}</a>
                                    </div>
                                </div>
                                <div class="col-lg-4 position-relative">
                                    <input type="text" class="form-group select-input"
                                           placeholder="örn: Hafta" data-toggle="dropdown" v-model="packageText">
                                    <span class="input-icon"><i class="icon-arrow-down5"></i></span>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item"
                                           v-for="text in memberPackageTextList"
                                           :key="text.id"
                                           @click="packageText = text"
                                        >{{text}}</a>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label">Üyelik Tutarı:</label>
                                <div class="col-lg-9">
                                    <div class="input-group">
                                        <input type="number" class="form-control" placeholder="Üyelik Tutarı"
                                               v-model="packagePayment">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">TL</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-lg-12">
                                    <textarea class="form-control" cols="5" rows="5" placeholder="Açıklama"
                                              v-model="packageExp"></textarea>
                                </div>
                            </div>


                            <div class="text-right">
                                <button type="submit" class="btn btn-primary" @click="updatePackage">
                                    Üyelik Paketini Güncelle
                                    <i class="icon-paperplane ml-2"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    /* eslint-disable no-console */
    import Breadcrumb from "@/components/Breadcrumb.vue"
    import CustomerHeader from "@/components/customersComponents/CustomerHeader.vue"

    export default {
        name: "MemberPackageDetail",
        components: {Breadcrumb, CustomerHeader},
        data: function () {
            return {
                packageName: '',
                packageVal: '',
                packageText: '',
                packagePayment: '',
                packageExp: '',
                memberPackageTextList: ['Gün', 'Hafta', 'Ay', 'Yıl'],
                errorMessage: null
            }
        },
        mounted() {
            this.detailPackage();
        },
        methods: {
            detailPackage() {
                this.api_get('/content/member-pack.php/' + this.$route.params.id, this.detailPackageSucess, this.detailPackageError)
            },
            detailPackageSucess(response) {
                this.packageName = response.data.data.subs_name;
                this.packageVal = response.data.data.subs_day;
                this.packageText = response.data.data.subs_type;
                this.packagePayment = response.data.data.subs_price;
                this.packageExp = response.data.data.subs_description;
            },
            detailPackageError(error) {
                console.log(error)
            },

            updatePackage() {
                this.api_post('/content/member-pack.php',
                    {
                        package_id: this.$route.params.id,
                        package_name: this.packageName,
                        package_time: this.packageVal + ' ' + this.packageText,
                        package_payment: this.packagePayment,
                        package_explanation: this.packageExp,
                        createPackage_user: this.$store.state.user.username,
                        button: 'guncelle'
                    },
                    this.updatePackageSucess, this.updatePackageError)
            },
            updatePackageSucess(response) {
                if (response.status) {
                    this.$router.push({name: 'membership-packages'});
                    this.handleAlert('Üyelik Paketi Güncellendi', '', 'success')
                }
                else if (response.message === 'Record available!') {
                    this.errorMessage = 'Paket İsimleri Aynı Olamaz'
                }
            },
            updatePackageError(error) {
                console.log(error)
            }
        }
    }
</script>

<style scoped>

    .dropdown-menu {
        max-height: 300px;
        overflow-y: scroll;
    }

    input.select-input {
        width: 100%;
        padding: 5px;
        border-radius: 3px;
        border: 1px solid #ddd;
        margin-bottom: 0;
        color: #333;
        cursor: pointer;
    }

    input.select-input:focus {
        outline: none;
    }

    .input-icon {
        position: absolute;
        right: 20px;
        top: 5px;
    }

    input.error {
        border: 1px solid red;
    }

</style>