<template>
    <div class="container-fluid customer-header mt-2 mb-2">
        <div class="row">
            <div class="col-md-6">
                <h5>{{ headerName }}</h5>
            </div>
            <div class="col-md-6" v-if="!falseExport">

                <export-excel id="dbclick"
                              :data="$route.name === 'customers' ? customers :
                              $route.name === 'bills' ? invoices :
                              $store.state.customers.customerType"
                              :name="exportName + '.xls'"
                              :before-generate="exportGet">
                    <span class="float-right cursor-pointer"><i class="icon-file-pdf"></i></span>
                </export-excel>
            </div>
        </div>
    </div>
</template>

<script>
    /*eslint-disable*/
    export default {
        name: "CustomerHeader",
        props: ['headerName', 'falseExport', 'exportName'],
        data() {
            return {
                customers: [],
                invoices: []
            }
        },
        methods: {
            exportGet() {
                if (this.$route.name === 'customers') {
                    this.api_get('/content/customers.php/', this.exportGetSuccess, this.exportGetError);
                } else if (this.$route.name === 'bills') {
                    this.api_get('/content/invoice.php/', this.exportGetSuccess, this.exportGetSuccess);
                }
            },
            exportGetSuccess(response) {
                if (this.$route.name === 'customers' ? this.customers.length <= 1 : this.invoices.length <= 1) {
                    setTimeout(() => {
                        var link = document.getElementById('dbclick');
                        link.click();
                    }, 200);
                }
                this.$route.name === 'customers' ? this.customers = response.data.data : this.invoices = response.data.data;
            },
            exportGetError(error) {
                console.log(error)
            }
        }
    }
</script>

<style scoped>
    .customer-header .icon-file-pdf {
        font-size: 20px;
        line-height: 30px;
    }
</style>