<template>
    <div>
        <div v-if="customers.length >= 1 || $store.state.customers.customerList.length >= 1" class="card customer-list">
            <table class="table datatable-basic table-bordered table-striped table-hover">
                <!--thead-->
                <Thead :headList="['Müşteri Adı', 'Üyelik Tipi', 'Üyelik Durumu', 'Üyelik Baş. Tarihi',
                        'Üyelik Bit. Tarihi', 'Üyelik Süresi', 'Açıklama', 'Abonelik Tutarı', 'İşlemler']">
                </Thead>
                <!--tbody-->
                <tbody>
                <tr v-for="customer in customers.length >= 1 ? customers.slice(sliceStart, sliceCount) : $store.state.customers.customerList"
                    :key="customer.id"
                    class="customer-row">
                    <td>{{ customer.comp_title }}</td>
                    <td>
                        <span class="badge"
                              :class="customer.subs_name === 'Demo' ? 'badge-warning' :
                              customer.subs_name === 'Medium' ? 'badge-danger' :
                              customer.subs_name === 'Pro' ? 'badge-success' :
                              'badge-primary'">{{ customer.subs_name }}
                        </span>
                    </td>
                    <td>
                        <span class="badge badge-success" v-if="customer.comp_status === '1'">Aktif</span>
                        <span class="badge badge-danger" v-if="customer.comp_status !== '1'">Pasif</span>
                    </td>
                    <td>{{ customer.comp_subscripition_startdate | moment("DD-MM-YYYY") }}</td>
                    <td>{{ customer.comp_subscription_endate | moment("DD-MM-YYYY") }}</td>
                    <td>
                        <span>{{ customer.uye_sure }}</span>
                    </td>
                    <td>{{ customer.created_by }}</td>
                    <td>
                        <moneyFormat :value="Number(customer.subs_price)"></moneyFormat>
                    </td>
                    <td>
                        <button title="görüntüle"
                                @click="$router.push({path:'/customers/customer-detail/' + customer.pk_id})"
                                class="btn-xs btn-light cursor-pointer outline-0"><i class="icon-pencil5"></i></button>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="alert text-right">
                Listelenen Kullanıcı {{ customers.length >= 1 ? customers.length :
                $store.state.customers.customerList.length }}
            </div>
        </div>
        <div class="alert alert-warning" v-else>Listeleneck Kullanıcı Bulunamadı..</div>
        <Pagination v-if="customers.length <= 0" :page="$parent.$data.perPage"
                    :total="$store.state.customers.totalCustomer" :listCount="$parent.$data.listCountVal"></Pagination>
        <FilterPagination v-else :customerCount="customers.length" :listCount="sliceCount" :sliceStart="sliceStart"
                          :length="$parent.$data.listCountVal"></FilterPagination>
    </div>
</template>

<script>
    /* eslint-disable no-console */
    import Pagination from "@/components/Pagination.vue"
    import FilterPagination from "@/components/FilterPagination";
    import MoneyFormat from "vue-money-format/src/components/MoneyFormat";
    import Thead from "@/components/tableComponents/Thead.vue";

    export default {
        name: "CustomerList",
        components: {Pagination, MoneyFormat, FilterPagination, Thead},
        data: function () {
            return {
                customers: [],
                sliceStart: 0,
                sliceCount: 10,
            }
        },
        mounted() {
            var th = this;
            th.$bus.$on('filterCustomerElements', function (payload) {
                th.customers = JSON.parse(payload);
            });
            th.$bus.$on('searchCustomerElements', function (payload) {
                th.customers = [];
                th.customers.push(JSON.parse(payload));
            });
            th.$forceUpdate();
        }
    }
</script>

<style scoped>

    .customer-row {
        cursor: pointer;
    }

    .table {
        margin-bottom: 0;
    }

    .alert.text-right {
        padding: 5px 1.25rem;
        margin-bottom: 0;
    }

    .table tr:hover {
        box-shadow: 0px 3px 4px #d2d2d2;
    }

    .btn-xs {
        border: 0;
    }

    .btn-xs:hover {
        box-shadow: 0px 3px 4px #d2d2d2;
    }
</style>