<template>
    <table class="table datatable-basic table-striped table-hover">
        <thead>
        <tr class="row">
            <th class="col-2">
                <input type="text" class="form-group ellipsis" v-model="cutomerFilterElem.customer_type"
                       @click="getCutomertype()" placeholder="Üyelik tipi" data-toggle="dropdown">
                <span class="input-icon" data-toggle="dropdown"><i class="icon-arrow-down5"></i></span>
                <div class="dropdown-menu">
                    <a class="dropdown-item" @click="cutomerFilterElem.customer_type = ''">Tümü</a>
                    <a class="dropdown-item"
                       v-for="customerType in $store.state.customers.customerType"
                       :key="customerType.id"
                       @click="cutomerFilterElem.customer_type = customerType.subs_name"
                    >{{ customerType.subs_name }}</a>
                </div>
            </th>
            <th class="col-2">
                <input type="text" class="form-group ellipsis" placeholder="Üyelik durumu" data-toggle="dropdown"
                       :value="cutomerFilterElem.customer_status === '1' ? 'Aktif' : cutomerFilterElem.customer_status === '0' ? 'Pasif' : ''">
                <span class="input-icon" data-toggle="dropdown"><i class="icon-arrow-down5"></i></span>
                <div class="dropdown-menu">
                    <a class="dropdown-item" @click="cutomerFilterElem.customer_status = ''">Tümü</a>
                    <a class="dropdown-item"
                       v-for="customerStatus in customerStatusList"
                       :key="customerStatus.id"
                       @click="cutomerFilterElem.customer_status = customerStatus.val"
                    >{{customerStatus.type}}</a>
                </div>
            </th>
            <th class="col-2">
                <Datepicker input-class="date-input" v-model="cutomerFilterElem.customer_startdate"
                            class="form-group"
                            placeholder="Üyelik Başlangıç Tarihi"
                ></Datepicker>
                <span class="input-icon" data-toggle="dropdown"><i class="icon-calendar"></i></span>
            </th>
            <th class="col-2">
                <Datepicker input-class="date-input" class="form-group"
                            placeholder="Üyelik Bitiş Tarihi" v-model="cutomerFilterElem.customer_enddate"
                ></Datepicker>
                <span class="input-icon"><i class="icon-calendar"></i></span>
            </th>
            <th class="col-2">
                <input type="text" class="form-group ellipsis" v-model="cutomerFilterElem.customer_time"
                       placeholder="Üyelik süresi" data-toggle="dropdown">
                <span class="input-icon" data-toggle="dropdown"><i class="icon-arrow-down5"></i></span>
                <div class="dropdown-menu">
                    <a class="dropdown-item" @click="cutomerFilterElem.customer_time = ''">Tümü</a>
                    <a class="dropdown-item"
                       v-for="customerType in $store.state.customers.customerType"
                       :key="customerType.id"
                       @click="cutomerFilterElem.customer_time = customerType.subs_day + ' ' + customerType.subs_type"
                    >{{ customerType.subs_day + ' ' + customerType.subs_type }}</a>
                </div>
            </th>
            <th class="float-right col-2">
                <button class="btn btn-success mr-1" @click="filterCustomer(cutomerFilterElem)"><i
                        class="icon-filter3"></i>
                    Filtrele
                </button>
                <button class="btn btn-danger" @click="filterCustomerClear()"><i class="icon-close2"></i>
                    Temizle
                </button>
            </th>
        </tr>
        </thead>
    </table>
</template>

<script>
    /* eslint-disable */

    import Datepicker from 'vuejs-datepicker';

    export default {
        name: "CustomerFilter",
        components: {Datepicker},
        data: function () {
            return {
                cutomerFilterElem: {
                    customer_time: '',
                    customer_enddate: '',
                    customer_startdate: '',
                    customer_status: '',
                    customer_type: '',
                },
                customerStatusList: [
                    {type: 'Aktif', val: '1'},
                    {type: 'Pasif', val: '0'}
                ],
            }
        },
        methods: {
            filterCustomer() {
                if (this.cutomerFilterElem.customer_startdate !== '' || this.cutomerFilterElem.customer_enddate ||
                    this.cutomerFilterElem.customer_time !== '' || this.cutomerFilterElem.customer_status !== '' ||
                    this.cutomerFilterElem.customer_type !== '') {
                    this.api_post('/content/customers.php', {
                        customer_time: this.cutomerFilterElem.customer_time,
                        customer_enddate: this.cutomerFilterElem.customer_enddate !== '' ?
                            this.$moment(this.cutomerFilterElem.customer_enddate, 'YYYY-MM-DD', true).format().slice(0, 10) : '',
                        customer_startdate: this.cutomerFilterElem.customer_startdate !== '' ?
                            this.$moment(this.cutomerFilterElem.customer_startdate, 'YYYY-MM-DD', true).format().slice(0, 10) : '',
                        customer_status: this.cutomerFilterElem.customer_status,
                        customer_type: this.cutomerFilterElem.customer_type,
                    }, this.filterCustomerSuccess, this.filterCustomerError)
                } else {
                    this.filterCustomerClear()
                }
            },
            filterCustomerSuccess(response) {
                this.$bus.$emit('filterCustomerElements', JSON.stringify(response.data));
                this.$parent.customers_all();
            },
            filterCustomerError(error) {
                console.log(error)
            },
            filterCustomerClear() {
                const dataList = [];
                this.cutomerFilterElem.customer_time = '';
                this.cutomerFilterElem.customer_enddate = '';
                this.cutomerFilterElem.customer_startdate = '';
                this.cutomerFilterElem.customer_status = '';
                this.cutomerFilterElem.customer_type = '';
                this.$bus.$emit('filterCustomerElements', JSON.stringify(dataList));
            },
            getCutomertype() {
                if (this.$store.state.customers.customerType.length <= 0) {
                    this.api_get('/content/customer-type.php', this.getCustomerTypeSuccess, this.getCustomerTypeError)
                }
            },
            getCustomerTypeSuccess(response) {
                this.$store.state.customers.customerType = response.data.data;
            },
            getCustomerTypeError(error) {
                console.log(error)
            }
        }
    }
</script>

<style scoped>

    .table thead th {
        padding: 0;
        border-bottom: 0;
        position: relative;
    }

    .table thead th:focus > span {
        height: 1px;
    }

    .form-group {
        margin-bottom: 0;
        border-left: 0;
        border-right: 0;
        border-top: 0;
        background: transparent;
        border-bottom: .05rem solid #000;
        position: relative;
        width: 90%;
        display: flex;
        margin: 0 auto;
    }

    .form-group:focus {
        outline: none;
    }

    th span {
        position: absolute;
        width: 90%;
        display: flex;
        margin: 0 auto;
        background: #0aa7ef;
        transition: 300ms ease-out;
        bottom: 0;

    }

    input.date-input {
        width: 100% !important;
        background: transparent !important;
        border: none !important;
    }

    .vdp-datepicker * {
        width: 100% !important;
    }

    span.input-icon {
        background: transparent;
        position: absolute;
        right: 15px;
        width: auto;
        cursor: pointer;
        top: 2px;
    }

    .btn {
        font-size: .6rem;
    }

    .form-group.ellipsis {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-right: 30px;
    }
</style>