<template>
    <div class="page-header page-header-light">
        <div class="breadcrumb-line breadcrumb-line-light">
            <div class="align-items-centerw">
                <div class="breadcrumb">
                    <button class="btn-sm btn-dark outline-0 cursor-pointer mr-1" @click="$router.go(-1)">
                        <i class="icon-arrow-left16"></i>&nbsp;Geri</button>
                    <div class="btn-sm btn-light bg-transparent ml-2">{{ $route.meta.breadCrumb }}</div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    /* eslint-disable no-console */

    export default {
        name: "Breadcrumb",
    }
</script>

<style scoped>
    .btn-group-sm>.btn, .btn-sm {
        border: 0;
    }
    .btn-group-sm>.btn, .btn-sm:hover i {
        right: 5px;
    }
</style>