<template>
    <ul class="pagination pagination-flat align-self-center float-right">
        <li class="page-item" :class="page <= 1 ? 'disabled' : ''">
            <a class="page-link" @click="prev">&larr; &nbsp; Prev</a>
        </li>
        <li class="page-item active">
            <a class="page-link">{{ page }}</a>
        </li>
        <li class="page-item" :class="Math.ceil(customerCount / length) <= page ? 'disabled' : ''">
            <a class="page-link" @click="next">Next &nbsp; &rarr;</a>
        </li>
    </ul>
</template>

<script>
    /* eslint-disable*/
    export default {
        name: "FilterPagination",
        data() {
            return {
                page: 1,
            }
        },
        props: ['customerCount', 'listCount', 'sliceStart', 'length'],
        methods: {
            next() {
                this.$parent.$data.sliceStart += this.length;
                this.$parent.$data.sliceCount += this.length;
                this.page = this.$parent.$data.sliceCount / this.length;
            },
            prev() {
                this.$parent.$data.sliceStart -= this.length;
                this.$parent.$data.sliceCount -= this.length;
                this.page = this.$parent.$data.sliceCount / this.length;
            }
        }
    }
</script>

<style scoped>

</style>