<template>
    <div class="navbar navbar-expand-md navbar-dark">
        <div class="navbar-brand">
            <router-link to="/" class="d-inline-block" tag="a">
                <img src="../../public/img/icınvers2.png" alt="logo">
            </router-link>
        </div>

        <div class="d-md-none">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-mobile">
                <i class="icon-tree5"></i>
            </button>
            <button class="navbar-toggler sidebar-mobile-main-toggle" type="button">
                <i class="icon-paragraph-justify3"></i>
            </button>
        </div>

        <div class="collapse navbar-collapse" id="navbar-mobile">
            <ul class="navbar-nav">
                <li class="nav-item" @click="$store.state.app.sidebarXs = !$store.state.app.sidebarXs">
                    <a class="navbar-nav-link sidebar-control sidebar-main-toggle d-none d-md-block legitRipple">
                        <i class="icon-paragraph-justify3"></i>
                    </a>
                </li>
            </ul>

            <span class="navbar-text ml-md-3 mr-md-auto">
			</span>

            <ul class="navbar-nav">

                <li class="nav-item dropdown">
                    <a class="navbar-nav-link" data-toggle="dropdown">
                        <i class="icon-bubbles4"></i>
                        <i class="icon-primitive-dot text-pink-400 ml-auto ml-md-0"></i>
                        <span class="d-md-none ml-2">Messages</span>
                        <!--<span class="badge badge-pill bg-warning-400 ml-auto ml-md-0">2</span>-->
                    </a>

                    <div class="dropdown-menu dropdown-menu-right dropdown-content wmin-md-350">
                        <div class="dropdown-content-header">
                            <span class="font-weight-semibold">Messages</span>
                            <a class="text-default"><i class="icon-compose"></i></a>
                        </div>

                        <div class="dropdown-content-body dropdown-scrollable">
                            <ul class="media-list">
                                <li class="media">
                                    <div class="mr-3 position-relative">
                                        <img src="../../public/img/placeholder.jpg" alt="placeholder" width="36"
                                             height="36" class="rounded-circle">
                                    </div>

                                    <div class="media-body">
                                        <div class="media-title">
                                            <a>
                                                <span class="font-weight-semibold">James Alexander</span>
                                                <span class="text-muted float-right font-size-sm">04:58</span>
                                            </a>
                                        </div>

                                        <span class="text-muted">who knows, maybe that would be the best thing for me...</span>
                                    </div>
                                </li>

                                <li class="media">
                                    <div class="mr-3 position-relative">
                                        <img src="../../public/img/placeholder.jpg" alt="placeholder" width="36"
                                             height="36" class="rounded-circle">
                                    </div>

                                    <div class="media-body">
                                        <div class="media-title">
                                            <a>
                                                <span class="font-weight-semibold">Margo Baker</span>
                                                <span class="text-muted float-right font-size-sm">12:16</span>
                                            </a>
                                        </div>

                                        <span class="text-muted">That was something he was unable to do because...</span>
                                    </div>
                                </li>

                                <li class="media">
                                    <div class="mr-3">
                                        <img src="../../public/img/placeholder.jpg" alt="placeholder" width="36"
                                             height="36" class="rounded-circle">
                                    </div>
                                    <div class="media-body">
                                        <div class="media-title">
                                            <a>
                                                <span class="font-weight-semibold">Jeremy Victorino</span>
                                                <span class="text-muted float-right font-size-sm">22:48</span>
                                            </a>
                                        </div>

                                        <span class="text-muted">But that would be extremely strained and suspicious...</span>
                                    </div>
                                </li>

                                <li class="media">
                                    <div class="mr-3">
                                        <img src="../../public/img/placeholder.jpg" alt="placeholder" width="36"
                                             height="36" class="rounded-circle">
                                    </div>
                                    <div class="media-body">
                                        <div class="media-title">
                                            <a>
                                                <span class="font-weight-semibold">Beatrix Diaz</span>
                                                <span class="text-muted float-right font-size-sm">Tue</span>
                                            </a>
                                        </div>

                                        <span class="text-muted">What a strenuous career it is that I've chosen...</span>
                                    </div>
                                </li>

                                <li class="media">
                                    <div class="mr-3">
                                        <img src="../../public/img/placeholder.jpg" alt="placeholder" width="36"
                                             height="36" class="rounded-circle">
                                    </div>
                                    <div class="media-body">
                                        <div class="media-title">
                                            <a>
                                                <span class="font-weight-semibold">Richard Vango</span>
                                                <span class="text-muted float-right font-size-sm">Mon</span>
                                            </a>
                                        </div>

                                        <span class="text-muted">Other travelling salesmen live a life of luxury...</span>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <div class="dropdown-content-footer justify-content-center p-0">
                            <a class="bg-light text-grey w-100 py-2" data-popup="tooltip" title="Load more"><i
                                    class="icon-menu7 d-block top-0"></i></a>
                        </div>
                    </div>
                </li>

                <li class="nav-item dropdown dropdown-user" @click="logout()">
                    <a class="navbar-nav-link text-center" data-toggle="dropdown">
                        <span style="padding-left: 0"><i class="icon-switch2"></i></span>
                    </a>

                    <!--<div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item"><i class="icon-user-plus"></i> My profile</a>
                        <a class="dropdown-item"><i class="icon-comment-discussion"></i> Messages <span
                                class="badge badge-pill bg-blue ml-auto">58</span></a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" ><i class="icon-switch2"></i>Logout</a>
                    </div>-->
                </li>
            </ul>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Header",
        methods: {
            logout() {
                this.$store.commit('logout');
                this.$router.push({name: 'login'});
            }
        }
    }
</script>

<style scoped>

    .img-user {
        position: relative;
        display: inline-block;
    }

    .img-user-text {
        font-size: 30px;
        z-index: 9000;
        left: 30%;
        bottom: -10%;
        position: absolute;
        text-shadow: 1px 1px 1px #ef8107;
        color: #00bcd4;
        text-transform: uppercase;
    }

    .navbar-dark {
        border-top: 1px solid #26a69a;
    }

    .navbar-collapse#navbar-mobile {
        background: #fff;
        box-shadow: 0 2px 2px 0 #ccc;
        z-index: 1000;
        color: rgba(51,51,51,.75);
    }

    .navbar-collapse#navbar-mobile .nav-item:hover {
        color: #000;
        background-color: #f1f1f1!important;
    }
</style>