<template>
    <div class="col-lg-3">
        <div class="card card-body border-top-info">
            <div class="text-center">
                <h1 class="font-weight-semibold mb-0" v-if="money === '1'">
                    <moneyFormat :value="Number(number)"></moneyFormat>
                </h1>
                <h1 class="font-weight-semibold mb-0" v-else>{{ number }}</h1>
                <p class="mb-3 text-muted">{{ text }}</p>
            </div>
        </div>
    </div>
</template>

<script>
    import MoneyFormat from "vue-money-format/src/components/MoneyFormat";

    export default {
        name: "infoBox",
        components: {MoneyFormat},
        props: ['number', 'text', 'money'],
    }
</script>

<style scoped>

    .border-top-info {
        border-top-color: #00bcd4 !important;
    }

</style>