<template>
    <div class="container-fluid mb-1">
        <div class="row">
            <div class="col-lg-6">
                <label class="col-form-label">Listeleme Sayısı:</label>
                <div class="input-group-prepend d-inline-block ml-1 col-2">
                    <button type="button" class="btn btn-light dropdown-toggle"
                            data-toggle="dropdown">
                        <span v-if="$route.name === 'customers'">{{ $parent.$data.listCountVal }}</span>
                        <span v-else-if="$route.name === 'bills'">{{ $parent.$data.billsListCount }}</span>
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" v-for="listItem in listCount" :key="listItem.id"
                           @click="listCountMethod(listItem)">{{ listItem }}</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group float-right col-lg-6">
                    <div class="nav-item dropdown position-relative">
                        <input type="text" class="form-control search-customer dropdown-toggle" data-toggle="dropdown"
                               role="button"
                               v-model="customerName"
                               @input="fetchCustomers(customerName)"
                               placeholder="Müşteri Ara"
                               aria-haspopup="true" aria-expanded="false">
                        <span class="search-delete-icon" @click="clearSearch"  v-show="customerName">
                            <i class="icon-x"></i>
                        </span>
                        <div class="dropdown-menu" v-show="searchCustomers.length > 0 || searchBills.length > 0">
                            <a class="dropdown-item"
                               v-for="listItem in searchCustomers" :key="listItem.id"
                               @click="selectedCustomer(listItem)"
                            >{{ listItem.comp_title }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    /*eslint-disable*/
    export default {
        name: "ListFilter",
        data() {
            return {
                listCount: [10, 25, 50, 75, 100],
                customerName: '',
                filterBox: false,
                searchCustomers: [],
                searchBills: [],
            }
        },
        methods: {
            listCountMethod(listItem) {
                if (this.$route.name === 'customers') {
                    this.$parent.$data.listCountVal = listItem;
                    this.$parent.customers_all();
                } else if (this.$route.name === 'bills') {
                    this.$parent.$data.billsListCount = listItem;
                    this.$parent.billsAll();
                }
            },
            fetchCustomers(customersName) {
                this.api_post(this.$route.name === 'customers' ? '/content/customers.php/' : '/content/invoice.php/', {
                    customer_key: customersName
                }, this.fetchCustomersSuccess, this.fetchCustomersError)
            },
            fetchCustomersSuccess(response) {
                this.searchCustomers = response.data
            },
            fetchCustomersError(error) {
                console.log(error)
            },

            selectedCustomer(name) {
                this.customerName = name.comp_title;
                this.$bus.$emit(this.$route.name === 'customers' ? 'searchCustomerElements' : 'searchBillsElements', JSON.stringify(name));
            },

            clearSearch() {
                const dataList = [];
                this.customerName = '';
                this.$bus.$emit(this.$route.name === 'customers' ? 'filterCustomerElements' : 'filterBillsElements', JSON.stringify(dataList));
            }
        }
    }
</script>

<style scoped>
    .search-customer {
        transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
        border-left: 0;
        border-right: 0;
        border-top: 0;
        border-bottom: 1px solid #333;
        background: transparent;
    }

    .search-customer:focus {
        box-shadow: 0 9px 10px 0 #ccc
    }

    .dropdown-menu {
        width: 100%;
        max-height: 300px;
        overflow-y: scroll;
    }

    button.dropdown-toggle {
        min-width: 85px;
        border: 1px solid #ccc;
        border-radius: 0;
    }

    .search-delete-icon {
        position: absolute;
        right: 5%;
        top: 25%;
        cursor: pointer;
    }

    .search-delete-icon:hover {
        color: #cc0d52;
        transition: 100ms ease-in;
    }
</style>