<template>
    <ul class="pagination pagination-flat align-self-center float-right">
        <li class="page-item" :class="page <= 1 ? 'disabled' : ''" @click="prevPage">
            <a class="page-link">&larr; &nbsp; Prev</a>
        </li>
        <li class="page-item active" @click="manuelCount = !manuelCount"
            :title="'max.: ' + Math.ceil(total / listCount) + 'Tıklayarak sayfa seçiniz'">
            <a class="page-link">{{ page }}</a>
        </li>
        <li class="page-item" :class="Math.ceil(total / listCount) <= page ? 'disabled' : ''" @click="nextPage">
            <a class="page-link">Next &nbsp; &rarr;</a>
        </li>
        <div v-if="manuelCount" class="manuelCount-component">
            <label class="manuel-label">Sayfa Sayısı giriniz: (Max. {{ Math.ceil(this.total / this.listCount)
                                        }})</label>
            <input @keydown.esc="manuelCount = false" @keydown.enter="manuelCount = false" class="manuel-input"
                   type="number" v-model="pepage" @input="data_all(pepage)">
        </div>
    </ul>
</template>

<script>
    /* eslint-disable no-console */
    export default {
        name: "Pagination",
        props: ['page', 'total', 'listCount', 'filter'],
        data: function () {
            return {
                manuelCount: false,
                pepage: null,
            }
        },
        methods: {
            prevPage() {
                if (this.page > 1) {
                    this.page -= 1;
                    this.$bus.$emit('page', JSON.stringify(this.page));
                    this.data_all();
                }
            },
            nextPage() {
                var control = Math.ceil(this.total / this.listCount);
                if (control > this.page) {
                    this.page += 1;
                    this.$bus.$emit('page', JSON.stringify(this.page));
                    this.data_all();
                }
            },
            data_all(pepage) {
                if (this.pepage >= 1 && this.pepage <= Math.ceil(this.total / this.listCount)) {
                    this.$bus.$emit('page', JSON.stringify(pepage));
                    if (this.$route.name === 'customers') {
                        this.$parent.$parent.customers_all();
                    } else if (this.$route.name === 'bills') {
                        this.$parent.$parent.billsAll();
                    }
                } else {
                    this.pepage = null;
                }
            },
        }
    }
</script>

<style scoped>

    .manuelCount-component {
        display: grid;
        margin-left: 10px;
    }

    .manuel-label {
        font-size: 11px;
        color: #888888;
    }

    .manuel-input {
        width: 40px;
        margin: 0 auto;
        text-align: center;
    }

</style>