<template>
    <div class="sidebar sidebar-dark sidebar-main sidebar-expand-md">

        <!-- Sidebar mobile toggler -->
        <div class="sidebar-mobile-toggler text-center">
            <a class="sidebar-mobile-main-toggle">
                <i class="icon-arrow-left8"></i>
            </a>
            Navigation
            <a class="sidebar-mobile-expand">
                <i class="icon-screen-full"></i>
                <i class="icon-screen-normal"></i>
            </a>
        </div>
        <!-- /sidebar mobile toggler -->


        <!-- Sidebar content -->
        <div class="sidebar-content">

            <!-- User menu -->
            <!--<div class="sidebar-user">
                <div class="card-body">
                    <div class="media">
                        <div class="img-user">
                            <a><img src="../../public/img/placeholder.jpg"
                                             width="38" height="38" class="rounded-circle" alt=""></a>
                        </div>

                        <div class="media-body ml-3">
                            <div class="media-title font-weight-semibold">{{$store.state.user.username}}</div>
                            <div class="font-size-xs opacity-50">
                                <i class="icon-pin font-size-sm"></i> &nbsp;Santa Ana, CA
                            </div>
                        </div>

                    </div>
                </div>
            </div>-->
            <div class="sidebar-user-material">
                <div class="sidebar-user-material-body">
                    <div class="card-body text-center" :class="$store.state.app.sidebarXs ? 'p-10' : ''">
                        <a href="#">
                            <img src="../../public/img/icınvers2.png"
                                 class="img-fluid shadow-1 mb-3" width="80" height="80" alt="">
                        </a>
                        <h6 class="mb-0 text-white text-shadow-dark"
                            :class="$store.state.app.sidebarXs ? 'd-none' : ''">{{$store.state.user.username}}</h6>
                        <span class="font-size-sm text-white text-shadow-dark"
                              :class="$store.state.app.sidebarXs ? 'd-none' : ''">Santa Ana, CA</span>
                    </div>

                    <div class="sidebar-user-material-footer" :class="$store.state.app.sidebarXs ? 'd-none' : ''">
                        <span href="#user-nav"
                              class="cursor-pointer text-shadow-dark d-flex justify-content-between align-items-center dropdown-toggle legitRipple"
                              data-toggle="collapse"><span>Hesabım</span></span>
                    </div>
                </div>

                <div class="collapse" id="user-nav">
                    <ul class="nav nav-sidebar">
                        <li class="nav-item">
                            <a href="#" class="nav-link legitRipple">
                                <i class="icon-user-plus"></i>
                                <span>Profilim</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link legitRipple">
                                <i class="icon-cog5"></i>
                                <span>Ayarlar</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- /user menu -->


            <!-- Main navigation -->
            <div class="card card-sidebar-mobile">
                <ul class="nav nav-sidebar" data-nav-type="accordion">
                    <!-- Main -->
                    <li class="nav-item-header">
                        <div class="text-uppercase font-size-xs line-height-xs">Main</div>
                        <i class="icon-menu" title="Main"></i></li>
                    <router-link to="/" tag="li" class="nav-item">
                        <a class="nav-link" :class="$route.name === 'home' ? 'active' : ''">
                            <i class="icon-home4"></i>
                            <span>Anasayfa</span>
                        </a>
                    </router-link>
                    <li class="nav-item nav-item-submenu w-100 cursor-pointer"
                        :class="customersNav ? 'nav-item-open' : ''"
                        @click="submenuOptions()">
                        <a class="nav-link"
                           :class="$route.name === 'customers' || $route.name === 'createCustomer' ? 'active' : ''"><i
                                class="icon-users4"></i> <span>Müşteriler</span></a>
                    </li>
                    <ul class="nav nav-group-sub" v-if="customersNav">
                        <router-link :to="{name: 'customers'}" class="nav-item w-100 cursor-pointer" tag="li">
                            <a class="nav-link" :class="$route.name === 'customers' ? 'active' : ''"><i
                                    class="icon-users4"></i><span
                                    :class="$store.state.app.sidebarXs ? 'item-span' : ''">Müşteri Listesi</span></a>
                        </router-link>
                        <router-link :to="{name: 'createCustomer'}" class="nav-item w-100 cursor-pointer" tag="li">
                            <a class="nav-link" :class="$route.name === 'createCustomer' ? 'active' : ''"><i
                                    class="icon-user-plus"></i><span
                                    :class="$store.state.app.sidebarXs ? 'item-span' : ''">Müşteri Oluştur</span></a>
                        </router-link>
                    </ul>

                    <router-link tag="li" class="nav-item w-100 cursor-pointer" :to="{name: 'bills'}">
                        <a class="nav-link" :class="$route.name === 'bills' ? 'active' : ''">
                            <i class="icon-color-sampler"></i>
                            <span>Faturalar</span>
                        </a>
                    </router-link>

                    <router-link :to="{name: 'membership-packages'}" tag="li" class="nav-item w-100 cursor-pointer">
                        <a class="nav-link" :class="$route.name === 'membership-packages' ? 'active' : ''"><i
                                class="icon-stack"></i> <span>Üyelik Paketleri</span></a>
                    </router-link>
                </ul>
            </div>
            <!-- /main navigation -->

        </div>
        <!-- /sidebar content -->

    </div>
</template>

<script>
    export default {
        name: "Sidebar",
        data: function () {
            return {
                customersNav: false,
            }
        },
        methods: {
            submenuOptions() {
                this.customersNav = !this.customersNav;
                this.$router.push({name: 'customers'});
            }
        }
    }
</script>

<style scoped>

    .img-user {
        position: relative;
        display: inline-block;
    }

    .img-user-text {
        font-size: 30px;
        z-index: 9000;
        left: 30%;
        bottom: -10%;
        position: absolute;
        text-shadow: 1px 1px 1px #ef8107;
        color: #00bcd4;
        text-transform: uppercase;
    }

    .nav-item.nav-item-submenu.nav-item-open {
        width: -webkit-fill-available;
    }

    .nav-item.router-link-active {
        width: -webkit-fill-available;
    }

    .nav-item.w-100.cursor-pointer.router-link-exact-active.router-link-active {
        width: -webkit-fill-available;
    }

    .nav-item .nav-link.active .item-span {
        color: #fff;
    }

    .nav-item .nav-link .item-span {
        color: transparent;
    }

    .nav-item:hover .nav-link .item-span {
        color: #fff;
    }

    .sidebar-user-material-body {
        background: url("../../public/img/user_bg.jpg") center center no-repeat;
        background-size: cover;
    }

    .sidebar-user-material-footer {
        background: #0926337a;
        padding: 10px;
    }

    .sidebar-dark {
        background: #2a3140 !important;
    }

    .p-10 {
        padding: 0.25rem;
        padding-top: 1rem;
    }

    .nav-item-submenu .sidebar-dark .nav-sidebar .nav-item > .nav-link.active {
        background-color: rgba(0, 0, 0, 0.70) !important;
    }

    .sidebar-user-material-footer > span[aria-expanded=true]:after {
        -webkit-transform: rotate(180deg);
        transform: rotate(0deg);
    }

    .sidebar-user-material-footer > span[aria-expanded=false]:after {
        transform: rotate(-90deg);
    }

    .sidebar-user-material-footer > span:after {
        transition: all ease-in-out .15s;
    }

</style>