<script>
    /* eslint-disable */
    import {Line} from 'vue-chartjs'

    export default {
        name: "LineChart",
        extends: Line,
        props: ['color'],
        mounted() {
            var th = this;
            setTimeout(function () {
                th.renderLineChart();
            }, 1000);
        },
        methods: {
            renderLineChart() {
                const a = [
                    {
                        label: 'Günlük',
                        backgroundColor: this.color,
                        data: this.$store.state.customers.statsCustomerDayCount
                    },
                    {
                        label: 'Aylık',
                        backgroundColor: '#94b2d88f',
                        data: [6, 7, 2, 5, 5, 8, 3]
                    },
                    {
                        label: 'Yıllık',
                        backgroundColor: '#0000ff7a',
                        data: [5, 6, 3, 8, 2, 10, 1]
                    }
                ];
                this.renderChart({
                    labels: this.$store.state.customers.statsCustomerDayDate,
                    datasets: /*[{
                        label: 'Müşteri',
                        backgroundColor: this.color,
                        data: this.$store.state.customers.statsCustomerDayCount
                    }]*/ a
                }, {responsive: true, maintainAspectRatio: false})
            }
        }
    }
</script>

<style scoped>

</style>