<script>
    import {PolarArea} from 'vue-chartjs'

    export default {
        name: "PolarAreaChart",
        extends: PolarArea,
        props: ['labels', 'color'],
        mounted() {
            var th = this;
            setTimeout(function () {
                th.polarRenderChart();
            }, 1000);
        },
        methods: {
            polarRenderChart() {
                this.renderChart({
                    labels: this.labels,
                    datasets: [
                        {
                            backgroundColor: [this.color, '#f1070794', '#bd0de8a3', '#36f3069c', '#333333bf'],
                            data: [
                                this.$store.state.customers.totalCustomer,
                                this.$store.state.customers.activeCustomers,
                                this.$store.state.customers.passiveCustomers,
                                this.$store.state.customers.demoCustomers,
                                this.$store.state.customers.paidCustomers,
                            ]
                        },
                    ]
                }, {responsive: true, maintainAspectRatio: false})
            }
        }
    }
</script>

<style scoped>

</style>