<template>
    <thead>
    <tr>
        <th v-for="head in headList" :key="head.id">{{ head }}</th>
    </tr>
    </thead>
</template>

<script>
    /*eslint-disable*/
    export default {
        name: "Thead",
        props: ['headList']
    }
</script>

<style scoped>

</style>