<template>
    <div id="app">
        <notifications position="top left"/>
        <Header v-if="$route.name !== 'login' && $route.name !== '404'"></Header>
        <div :class="$route.name !== 'login' && $route.name !== '404' ? 'page-content' : ''">
            <Sidebar v-if="$route.name !== 'login' && $route.name !== '404'"></Sidebar>
            <div :class="$route.name !== 'login' && $route.name !== '404' ? 'content-wrapper' : ''">
                <transition name="fade" mode="out-in">
                    <router-view/>
                </transition>
                <!--<Footer></Footer>-->
            </div>
        </div>
    </div>
</template>

<script>
    import Header from "@/components/Header.vue"
    import Sidebar from "@/components/Sidebar.vue"
    //import Footer from "@/components/Footer.vue"

    export default {
        name: 'app',
        components: {Header, Sidebar, /*Footer*/},
    }
</script>

<style>

    .fade-enter {
        opacity: 0;

    }

    .fade-enter-active {
        transition: opacity .3s ease-out;
    }

    .fade-leave {
    }

    .fade-leave-active {
        transition: opacity .3s ease-out;
        opacity: 0;
    }
</style>
