<template>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-10 offset-md-1">
                    <div class="form-group row">
                        <label class="col-lg-3 col-form-label">Üyelik Paketi Adı:</label>
                        <div class="col-lg-9">
                            <input type="text" class="form-control" placeholder="Üyelik Paketi Adı"
                                   v-model="memberPackageName">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-lg-3 col-form-label">Üyelik Süresi:</label>
                        <div class="col-lg-4 position-relative">
                            <input type="text" class="form-group select-input" v-model="memberPackageVal"
                                   placeholder="örn: 1" data-toggle="dropdown">
                            <span class="input-icon"><i class="icon-arrow-down5"></i></span>
                            <div class="dropdown-menu">
                                <a class="dropdown-item"
                                   v-for="n in 30"
                                   :key="n.id"
                                   @click="memberPackageVal = n"
                                >{{ n }}</a>
                            </div>
                        </div>
                        <div class="col-lg-4 position-relative">
                            <input type="text" class="form-group select-input" v-model="memberPackageText"
                                   placeholder="örn: Hafta" data-toggle="dropdown">
                            <span class="input-icon"><i class="icon-arrow-down5"></i></span>
                            <div class="dropdown-menu">
                                <a class="dropdown-item"
                                   v-for="text in memberPackageValTextList"
                                   :key="text.id"
                                   @click="memberPackageText = text"
                                >{{ text }}</a>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-lg-3 col-form-label">Üyelik Tutarı:</label>
                        <div class="col-lg-9">
                            <div class="input-group">
                                <input type="number" class="form-control" placeholder="Üyelik Tutarı"
                                       v-model="memberPackagePayment">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">TL</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-lg-12">
                <textarea class="form-control" cols="5" rows="5" placeholder="Açıklama"
                          v-model="memberPackageExp"></textarea>
                        </div>
                    </div>


                    <div class="text-right">
                        <button type="submit" class="btn btn-primary" @click="createPackage">
                            Üyelik Paketi Oluştur
                            <i class="icon-paperplane ml-2"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    /* eslint-disable no-console */
    import JQuery from 'jquery';

    let $ = JQuery;
    export default {
        name: "CreateMemberPackage",
        data: function () {
            return {
                memberPackageName: '',
                memberPackageVal: '',
                memberPackageText: '',
                memberPackagePayment: '',
                memberPackageExp: '',
                memberPackageValTextList: ['Gün', 'Hafta', 'Ay', 'Yıl']

            }
        },
        mounted() {
            this.customerType_all()
        },
        methods: {
            createPackage() {
                if (this.memberPackageName === '' || this.memberPackageVal === '' || this.memberPackageText === '' ||
                    this.memberPackagePayment === '' || this.$store.state.user.username === null) {
                    this.handleAlert('Boş alan Bırakmayınız!', '', 'error');
                } else {
                    this.api_post('/content/member-pack.php',
                        {
                            package_name: this.memberPackageName,
                            package_time: this.memberPackageVal + ' ' + this.memberPackageText,
                            package_payment: this.memberPackagePayment,
                            package_explanation: this.memberPackageExp,
                            createPackage_user: this.$store.state.user.username,
                            button: 'kaydet'
                        },
                        this.createPackageSucess, this.createPackageError)
                }
            },
            createPackageSucess(response) {
                if (response.status) {
                    this.handleAlert('Kayıt Başarılı', '', 'success');
                    this.memberPackageName = '';
                    this.memberPackageVal = '';
                    this.memberPackageText = '';
                    this.memberPackagePayment = '';
                    this.memberPackageExp = '';
                    this.customerType_all();
                    $('html, body').animate({
                        scrollTop: $('body').height() + 100
                    }, 500);
                    return false;
                } else {
                    this.handleAlert('Kayıt Başarısız', '', 'error');
                }
            },
            createPackageError(error) {
                console.log(error)
            },

            customerType_all() {
                this.api_get('/content/customer-type.php', this.customerTypeSuccess, this.customerTypeError);
            },

            customerTypeSuccess(response) {
                this.$store.state.customers.customerType = response.data.data;
            },

            customerTypeError(error) {
                console.log(error)
            },
        }
    }
</script>

<style scoped>

    .dropdown-menu {
        max-height: 300px;
        overflow-y: scroll;
    }

    input.select-input {
        width: 100%;
        padding: 5px;
        border-radius: 3px;
        border: 1px solid #ddd;
        margin-bottom: 0;
        color: #333;
        cursor: pointer;
    }

    input.select-input:focus {
        outline: none;
    }

    .input-icon {
        position: absolute;
        right: 20px;
        top: 5px;
    }

</style>