<template>
    <table class="table datatable-basic table-bordered table-striped table-hover">
        <!--thead-->
        <Thead :headList="['Üyelik Adı', 'Aktif / Pasif', 'Geçerlilik Süresi', 'Tutar', 'İşlemler']"></Thead>
        <!--tbody-->
        <tbody>
        <tr v-for="customerType in $store.state.customers.customerType" :key="customerType.id"
            @click="$router.push({path: '/customers/package-detail/' + customerType.pk_id})" class="package-row">
            <td>{{ customerType.subs_name }}</td>
            <td><span class="badge badge-success">Aktif</span></td>
            <td>{{ customerType.subs_day + ' ' + customerType.subs_type }}</td>
            <td>
                <moneyFormat :value="Number(customerType.subs_price)"></moneyFormat>
            </td>
            <td class="text-center">
                <button class="btn-xs btn-light outline-0 cursor-pointer border-0"
                        @click="$router.push({path: '/customers/package-detail/' + customerType.pk_id})">
                    <i class="icon-pencil5"></i>
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</template>

<script>
    import MoneyFormat from "vue-money-format/src/components/MoneyFormat";
    import Thead from "@/components/tableComponents/Thead.vue";

    export default {
        name: "MemberPackageList",
        components: {MoneyFormat, Thead}
    }
</script>

<style scoped>

    .table {
        margin-bottom: 0;
    }

    .package-row {
        cursor: pointer;
    }

    .table tr:hover {
        box-shadow: 0px 3px 4px #d2d2d2;
    }

    .btn-xs:hover {
        box-shadow: 0px 3px 4px #d2d2d2;
    }

</style>